# Mon test parce que je suis rouillé

Utilisant [Jupyter Notebook](https://docs.jupyter.org/en/latest/start/index.html) pour les documents, [Pipenv](https://pipenv.pypa.io/en/latest/) pour la gestion des dépendences locales, [Pandas](https://pandas.pydata.org/docs/index.html) pour la manipulation des données, et [SQLite 3](https://docs.python.org/3/library/sqlite3.html) pour le stockage et la lecture de données.

In [23]:
# Du code en python qui sera exécuté à l'ouverture du document ou manuellement
var = [1, 2, 3]
print(var)

[1, 2, 3]

In [24]:
# On déclare nos imports
import sqlite3 as sqlite
import pandas as pd

# Les variables déclarées précédemment peuvent être réutilisées
# Le seul problème c'est que les cellules seront donc dépendantes d'autres
print(var)

db_name = 'database.db'

[1, 2, 3]

In [25]:
# On prépare pour le reste du document, en créant la table si elle n'existe pas déjà
# On pourrait avoir tout ça dans un document à part, 

# Ouvre une connexion avec la base de données
con = sqlite.connect(db_name)
cur = con.cursor()

try:
    # Ça vient de l'exemple de SQLite 3 mais ça peut être n'importe quoi
    cur.execute("CREATE TABLE stocks (date text, trans text, symbol text, qty real, price real)")
    cur.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")
    con.commit()
except:
    print("Table already exists")

con.close()

In [26]:
con = sqlite.connect(db_name)

# On lit quelques données pour voir
cur = con.cursor()

# De base, `.execute` avec un `SELECT` retourne un `iterator`, une structure qui peut être utilisé pour alimenter une boucle
cur.execute('SELECT * FROM stocks ORDER BY price')
# Mais on peut utiliser `fetchall` pour directemement récupérer le résultat sous forme d'une liste
result = cur.fetchall()
con.close()

# Puis transformer cette liste en un `DataFrame` avec `pandas`, en lui donnant des noms de colonnes
df = pd.DataFrame(result, index=None, columns=['date', 'trans', 'symbol', 'qty', 'price'])

print(df)

# On peut utiliser après des libraries comme `plotly`, `matplotlib` pour faire de la visualisation à partir des données récupérées, ou `numpy` pour des statistiques

         date trans symbol    qty  price
0  2006-01-05   BUY   RHAT  100.0  35.14